* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {overflow: hidden;}

.container {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

video {
    position: fixed;
    width: auto;
    height: auto;
    min-width: 100%;
    max-width: 100%;
    filter: brightness(0.1);
    top: 0;
}

.cabeçalho {
    display: flex;
    position: relative;
    top: 10px;
}

.img-cabeçalho {
    width: 60px;
    position: relative;
    left: 30px;
}

.botoes-cabeçalho {
    margin: 19px 20px 0 10px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    color: white;
    text-decoration: none
}

.botoes-cabeçalho:hover {
    color: #E00B00;
    transition: 0.6s;
    font-size: 23px;
}

.botoes-cabeçalho:active {
    opacity: 0.7;
    transition: none;
}

.cab1 {
    margin-left: 70px;
}

.img-logo {
    width: 350px;
    position: relative;
    bottom: 10px;
}

.div-principal {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.div-detalhes {
    position: relative;
    top: 3%;
    left: 10px;
    width: 660px;
    text-align: justify;
    font-size: 17px;
    line-height: 25px;
}

.botao-contato {
    font-size: 20px;
    background: #E00B00;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.botao-contato:hover {
    opacity: 0.8;
    transition: 0.6s;
    font-size: 23px;

}

.botao-contato:active {
    opacity: 0.6;
}

.img-marioeluigi {
    width: 350px;
    position: relative;
    left: 40%;
    top: 20%;
}

.img-wpp {
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

.form-orçamento {
    padding: 20px;
    background-color: white;
    position: fixed;
    top: 30%;
    left: -230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    z-index: 3;
    transition: left 1s ease-in-out;
}

input {
    width: 200px;
    height: 30px;
    padding-left: 5px;
}

textarea {
    height: 100px;
    padding-left: 5px;

}


.botao-orçamento {
    font-size: 15px;
    background: #E00B00;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
}

.botao-orçamento:hover {
    opacity: 0.6;
}

label {
    color: black;
}

.mascara-formulario {
    visibility: hidden;
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}


.div-servicos {
    position: fixed;
    background: white;
    color: black;
    width: 300px;
    height: auto;
    right: -290px;
    top: 30%;
    border-radius: 10px;
    padding: 20px 25px;
    z-index: 3;
    transition: right 1s ease-in-out;
}




.servicos {
    margin: 5px 0 10px 0;
}

.sev {
    color: red;
}

.mascara-servicos {
    visibility: hidden;
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

@media (max-width: 1000px) {
    p {
        display: none
    }


    video {
        position: fixed;
        width: 100vw;
        min-width: 200%;
        filter: brightness(0.1);
        top: 0;
    }

    .cabeçalho {
        width: 70%;
        height: 50px;
        margin-left: 3px;
    }

    .img-cabeçalho {
        width: 40px;
        height: 40px;
        left: 20px;
    }

    .botoes-cabeçalho {
        font-size: 15px;
        margin: 15px 10px 0 0px
    }

    .botoes-cabeçalho:hover {
        font-size: 15px;
        color: #E00B00;
    }

    .cab1 {
        margin-left: 50px;
        margin-right: 25px;
    }

    .img-logo {
        width: 250px;
        position: relative;
        bottom: 315px;
        left: 45px;
    }

    .botao-contato {
        font-size: 15px;
        background: #E00B00;
        color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: fixed;
        left: 98px;
        top: 200px;
    }

    .form-orçamento {
        padding: 20px;
        background-color: white;
        position: fixed;
        top: 10%;
        left: -230px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
        z-index: 3;
        transition: left 1s ease-in-out;
    }

    .img-marioeluigi {
        width: 200px;
        position: relative;
        left: 0px;
        top: 0;
    }

    .img-right {
        position: fixed;
        left: 85px;
        top: 300px;
    }

    .img-wpp {
        display: none;
    }
}